.main-sidebar {
  background-color: #060818;
  max-height: 90vh;
}
.sidebar{
  max-height: 100vh;
  overflow-x: scroll !important;
}
// .brand-link {
//   background-color: #191e3a;
// }

// .sidebar {
//   background-color: #060818;
// }
