.container{
  max-height: 100vh;
  overflow-y: scroll;
}

.content{
  font-size: 14px;
}

.container-fluid{
  color: rgb(12, 10, 10);
}

.category-body{
  background-color:#0e1726;
  color: white;
}

#email{
  width: 475px;
}

.flex{
  display: flex;
  margin-top: 10px;
}

// Redimencionando campos inputs
.line-one{
  width: 100%;
}

#validationMessage{
  color: red;
}
