.hidden {
  display: none;
}
#searchUser {
  width: 20%;
  min-width: 250px;
  float: right;
}
.table {
  color: #888ea8;
  font-size: 13px;
}

th {
  color: #00967b;
  font-size: 13px;
  font-weight: 500;
}
.m-0 .text-light{
  color: #ffffff;
}