.hidden {
  display: none;
}

#searchRevenue {
  width: 20%;
  min-width: 250px;
  float: right;
  margin-bottom: 15px;
}
.Revenue-body {
  background-color: #fbfbfb;
  color: steelblue;
}

.Revenue .Revenue-body{
  background-color: #fbfbfb !important;
  color: white;
  box-shadow: 0 0 1em rgb(185, 185, 185);
  border-radius: 8px;
}

.text-light {
  color: black !important;
}

.table {
  color: #888ea8;
  font-size: 13px;
}

th {
  color: black !important;
  font-size: 13px;
  font-weight: 500;
}

.Revenue-body>.table>thead>tr>td, .card-body>.table>thead>tr>th {
  background-color: steelblue;
}