footer #footer-position .main-footer{
  background-color: #eaedef;
  height: 50px;
  width: 1075px !important;
  bottom: 1px;
  right: 32px;
  position: absolute;
  border-top: none;
}

.wrapper{
  height: 100%;
}

img{
  margin-left: 195px;
  margin-right: 0px;
  width: 711px;
  height: 540px;
  left: 508px;
  top: 199px;
}

