.container{
  max-height: 100vh;
  overflow-y: scroll;
}

.content{
  font-size: 14px;
}

.container-fluid{
  color: rgb(255, 255, 255);
}

.Revenue .Revenue-body{
  background-color: #fbfbfb !important;
  color: white;
  box-shadow: 0 0 1em rgb(185, 185, 185);
  border-radius: 8px;
}
.text-light {
  color: black !important;
}
.flex{
  display: flex;
  margin-top: 10px;
}

// Espaco entre os inputs
.line-one + .line-one{
  margin-left: 15px;
}

#validationMessage{
  color: red;
}

.card-body>.table>thead>tr>td, .card-body>.table>thead>tr>th {
  background-color: steelblue;
}

.table {
  color: #888ea8;
  font-size: 13px;
}

th {
  color: black;
  font-size: 13px;
  font-weight: 500;
}