.hidden {
  display: none;
}
#searchExpenditure {
  width: 20%;
  min-width: 250px;
  float: right;
}
.card {
  background-color: #0e1726;
  color: white;
}

.table {
  color: #888ea8;
  font-size: 13px;
}

th {
  color: #00967b;
  font-size: 13px;
  font-weight: 500;
}
