.container{
  max-height: 100vh;
  overflow-y: scroll;
}

.content{
  font-size: 14px;
}

.container-fluid{
  color: white;
}

.card-body{
  display: flex;
  background-color:#0e1726;
  color: white;
}

.flex{
  display: flex;
  margin-top: 10px;
}

// Espaco entre os inputs
.line-one + .line-one{
  margin-left: 15px;
}

#validationMessage{
  color: red;
}

.card .card-body{
  background-color: #fbfbfb !important;
  color: white;
  box-shadow: 0 0 1em rgb(185, 185, 185);
  border-radius: 8px;
}
.text-light {
  color: black !important;
}
